<plugin>
<title>UFC Fight Night Prelims : Tucker Lutz vs Melsik Baghdasaryan</title>
<link>
<sublink>script.module.bolt/?mode=play&url=https://d.daddylivehd.sx//stream/stream-105.php</sublink>
<sublink>script.module.bolt/?mode=play&url=https://d.daddylivehd.sx//stream/stream-31.php</sublink>
<sublink>script.module.bolt/?mode=play&url=https://d.daddylivehd.sx//stream/stream-44.php</sublink>
<sublink>script.module.bolt/?mode=play&url=https://d.daddylivehd.sx//stream/stream-112.php</sublink>
<sublink>script.module.bolt/?mode=play&url=https://d.daddylivehd.sx//stream/stream-120.php</sublink>
<sublink>script.module.bolt/?mode=play&url=https://d.daddylivehd.sx//stream/stream-375.php</sublink>
</link>
<thumbnail></thumbnail>
<fanart></fanart>
</plugin>
